<!--<div class="flex flex-col gap-2">-->
<!--  <div>-->
<!--    <button nz-button (click)="fileUpload.click()">-->
<!--      <span nz-icon nzType="upload"></span>-->
<!--      <span>Upload</span>-->
<!--    </button>-->
<!--    <input type="file" class="hidden" #fileUpload (change)="onChangeFileUpload($event)" accept=".csv">-->
<!--  </div>-->

<!--  @if (file) {-->
<!--    <nz-tag [nzColor]="'green'" class="flex items-center gap-2">-->
<!--      <p class="truncate">{{ file.name }}</p>-->
<!--      <div class="flex-auto"></div>-->
<!--      <span nz-icon nzType="delete" nzTheme="outline" (click)="onClickDelete()"></span>-->
<!--    </nz-tag>-->
<!--  }-->
<!--</div>-->
<!--<div class="flex gap-2 items-center">-->
<!--  <div class="flex-auto"></div>-->
<!--  <div class="w-[200px]">-->
<!--    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">-->
<!--      <input type="text" nz-input placeholder="Search Employee"/>-->
<!--    </nz-input-group>-->
<!--    <ng-template #suffixIconButton>-->
<!--      <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--  <button nz-button>Upload CSV</button>-->
<!--</div>-->
<div class="flex flex-col gap-1">
  @for (employee of employees; track employee) {
    <app-employee-card [employee]="employee"/>
  } @empty {
    <div class="flex items-center justify-center h-[480px]">
      <nz-empty [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
          <h4 class="font-medium text-lg">No Employee Found</h4>
          <div class="font-light">Add Employee to see their details</div>
        </ng-template>
      </nz-empty>
    </div>
  }
</div>


<button class="absolute bottom-7 right-3" nz-button nzType="primary" nzShape="round">
  <span nz-icon nzType="plus" nzTheme="outline"></span>
  <span>Add Employee</span>
</button>
