<!--<nz-ribbon nzText="Tech">-->
<!--  <nz-card nzSize="small">-->
<!--    <h4 class="text-green-600 font-light">{{ employee.employee_id }}</h4>-->
<!--    <h3 class="font-medium">{{ employee.name }}</h3>-->
<!--    <a class="flex items-center gap-1 font-light">-->
<!--      <span nz-icon nzType="phone" nzTheme="twotone" [nzTwotoneColor]="'#4a044e'" [nzRotate]="90"></span>-->
<!--      <span>{{ employee.phone_number }}</span>-->
<!--    </a>-->
<!--    <h4 class="font-light">{{ employee.designation }}</h4>-->
<!--  </nz-card>-->
<!--</nz-ribbon>-->


<nz-ribbon nzText="Tech">
  <nz-card nzSize="small">
    <div class="lg:grid lg:grid-cols-3 lg:gap-2 lg:items-center">
      <div class="lg:col-span-1">
        <h4 class="text-green-600 font-light">{{ employee.employee_id }}</h4>
        <h3 class="font-medium">{{ employee.name }}</h3>
      </div>
      <div class="lg:col-span-1">
        <a class="flex items-center gap-1 font-light">
          <span nz-icon nzType="phone" nzTheme="twotone" [nzTwotoneColor]="'#4a044e'" [nzRotate]="90"></span>
          <span>{{ employee.phone_number }}</span>
        </a>
        <a class="flex items-center gap-1 font-light">
          <span nz-icon nzType="mail" nzTheme="twotone" [nzTwotoneColor]="'#4a044e'"></span>
          <span>{{ 'tanbin.hossain@gmail.com' }}</span>
        </a>
      </div>
      <h4 class="lg:col-span-1 font-light">{{ employee.designation }}</h4>
    </div>
  </nz-card>
</nz-ribbon>
