<nz-layout class="min-h-[100dvh]">
  <nz-sider class="absolute h-[100dvh] lg:relative z-[1000]" nzBreakpoint="lg"
            nzCollapsible [nzCollapsedWidth]="50" [(nzCollapsed)]="isCollapsed">
    <ul nz-menu nzMode="inline" nzTheme="dark" class="overflow-auto">
      <li nz-menu-item [nzDisabled]="true" class="cursor-default flex items-center">
        <span nz-icon>
          <img ngSrc="favicon.ico" alt="logo" height="16" width="16">
        </span>
        <span class="text-lg font-medium text-white">EMS</span>
      </li>
      <li nz-menu-item [routerLink]="['/dashboard']" nzMatchRouter="true">
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="HR" nzIcon="audit" [(nzOpen)]="openMap['HR']" (nzOpenChange)="openHandler('HR')">
        <ul>
          <li nz-menu-item [routerLink]="['/', 'hr', 'employees']" [nzMatchRouter]="true">Employees</li>
          <li nz-menu-item [routerLink]="['/','hr', 'leaves']" [nzMatchRouter]="true">Leaves</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Profile" nzIcon="user" [(nzOpen)]="openMap['PROFILE']"
          (nzOpenChange)="openHandler('PROFILE')">
        <ul>
          <li nz-menu-item [routerLink]="['/', 'profile', 'my-profile']" [nzMatchRouter]="true">My Profile</li>
          <li nz-menu-item [routerLink]="['/', 'profile', 'my-attendance']" [nzMatchRouter]="true">My Attendance</li>
          <li nz-menu-item [routerLink]="['/', 'profile', 'my-leave']" [nzMatchRouter]="true">My Leave</li>
          <li nz-menu-item [routerLink]="['/', 'profile', 'my-team']" [nzMatchRouter]="true">My Team</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team" [(nzOpen)]="openMap['TEAM']"
          (nzOpenChange)="openHandler('TEAM')">
        <ul>
          <li nz-menu-item>Team Member</li>
          <li nz-menu-item>Team Attendance</li>
          <li nz-menu-item>Team Leave</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Setting" nzIcon="setting" [(nzOpen)]="openMap['SETTING']"
          (nzOpenChange)="openHandler('SETTING')">
        <ul>
          <li nz-menu-item>Option 11</li>
          <li nz-menu-item>Option 12</li>
          <li nz-menu-item>Option 13</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout (click)="isCollapsed=true" class="ml-[50px] lg:ml-0">
    <app-header/>
    <nz-content>
      <div class="p-3">
        <router-outlet/>
      </div>
    </nz-content>
    <nz-footer class="text-center">Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
